body {
  font-family: Arial, sans-serif;
}

.container {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
}

#campanhaForm {
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#resultado {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
}

#btnSubmit {
  margin-top: 20px;
}

.modal-sucesso {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4caf50;
}

.title {
  font-weight: bold;
  font-size: medium;
}

#itensCriados {
  padding-top: 20px;
  max-width: max-content;
}

#formSubtitle {
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

th:first-child,
td:first-child {
  width: 20%;
}

th:last-child,
td:last-child {
  width: 80%;
}

  th, td {
  align-items: center;
  justify-content: center;
}